.fr {

    float: right;

  }

  .fl {

    float: left;

  }

  .tbox {

    overflow: scroll;

    border-radius: 2px;

    border: 1px solid lightgrey;

    padding: 6px;

    max-height: 32px;

    min-height: 32px;

    height: 32px;

    font-weight: bold;

    overflow: hidden;

    resize: none;

  }

  .hid {

    display: none;

  }

  .noflow {

    overflow: hidden;

  }

  .hand {

    cursor: hand;

  }

  img {

    vertical-align: middle;

  }

  .break {

    overflow: auto;

    word-wrap: break-word; /* IE 5+ */

    overflow-x: hidden;

    overflow-wrap: break-word;

  }

  

  .u-ico {

    margin-top: 1px;

    max-height: 16px;

  } 

  .emoi {

    max-width: 240px;

    max-height: 24px;

  }

  .unread {

    background-color: #ffc89d !important;

  }

  .object-fit {

    object-fit: contain;

    object-position: center right;

  } 

  table,

  th,

  td {

    border: 0;

  } 

  th,

  td {

    padding: 0px;

  }

  table {

    border-spacing: 0;

    border-collapse: collapse;

  }

  .mini {

    font-size: 90% !important;

  }

  .corner {

    border-radius: 5px;

  }

  .minix {

    font-size: 80% !important;

  } 

  .nosel,

  .u-ico,

  .u-pic,

  .tago {

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    cursor: default;

  }

  .center {

    margin: 0 auto;

  }

  .dots {

    display: inline-block;

    white-space: nowrap;

    overflow: hidden !important;

    text-overflow: ellipsis;

    max-width: 100%;

  }

  

  .borderg {

    border: 1px solid #f4f4f4;

  }

  .border {

    border: 1px solid black;

  } 

  .fitimg {

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%;

  } 

  .bord {

    border-inline: 4px solid dodgerblue !important;

  }

  

  html {

    height: 100vh;

    width: 100vw;

  }  

  .fa {

    text-align: left;

  }

  

  .modal-header {

    padding: 5px;

  }

  

  .badge {

    padding: 0px 3px;

  }

    

  button.btn {

    padding: 5px 5px;

  }

   

  .d2 {

    padding-bottom: 2px;

  }

  .d2,#rooms,#users{background-color: #fafafa!important;}

  .popover-content {

    padding: 1px;

  } 

    </style>

    <style> 

      * {

      font-family: serif;

      font-weight: bold;

      text-shadow: none!important;

      font-size: 15.2px !important;line-height: 1.4!important;  font-weight:700!important;text-shadow:none!important;

  } 

  .u-msg{line-height: 1.5!important;}

      .ae { 

        border: 1px solid black!important; 

        border-radius: 2px!important; 

        float: left;

        text-align: center;width: 20%; max-width: 80px;

        padding: 4px 0px;

        margin: 1px;margin-bottom: 2px;

      }

      .pmsgc {

        background-color: rgba(0, 77, 255, 0.08)!important; 

      }

      .ppmsgc {

        background-color: #f1f1ff!important;

      }

      .hmsg {

        background-color: linen!important;

      }

      .label-primary,

      .btn-primary,

      .bg-primary,

      .label-primary:hover,

      .btn-primary:hover,

      .btn-primary:focus {

        background-color: #438ac7;

        background-image: none;

      } 

      .bg {

        background-color: #308191;

      } 

      .bgg {

        background-color: lightslategray;

      } 

      .pophead {

        background-color: slategrey;

      }

      

      .light {

        background-color: #F2F2F2;

      }

      .label,.btn{

        border-radius: 1px;

      }

      .label-primary,.btn-primary{  

        background-color: #308191!important;

      }

      .hid {

        display: none;

      }

      #mic .mic,#muteall{

        background-color: #308191;

      }

      .typingIndicatorBubbleDot {

    width: 4px;

    height: 4px;

    margin-right: 4px;

    background-color: #57585a;

    border-radius: 50%;

    animation-name: bounce;

    animation-duration: 1.3s;

    animation-timing-function: linear;

    animation-iteration-count: infinite;

  }

  .mic{

    width:53px;height:50px;margin:1px;border-radius:4px;background-image: url(imgs/mic.png);background-size: cover;background-repeat: no-repeat;background-position: center;

  }

  .typingIndicatorBubbleDot:first-of-type {

    margin: 0px 4px;

  }

  

  .typingIndicatorBubbleDot:nth-of-type(2) {

    animation-delay: 0.15s;

  }

  

  .typingIndicatorBubbleDot:nth-of-type(3) {

    animation-delay: 0.3s;

  }

  .flex-grow-1 {

    flex-grow: 1 !important;

  }

  .c-flex {

    display: flex;

      flex-direction: column;

  }

  .d-flex{

    display: flex; 

  }

  .flex-fill {

    flex: 1 1 auto !important;

  }

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {

    .bgf {

      background-color: rgba(0, 0, 0, .5);

    }

  }

  .nav-pills li a{border-radius: 0px!important;}

      @keyframes bounce {

    0%,

    60%,

    100% {

      transform: translateY(0);

    }

    30% {

      transform: translateY(-4px);

    }

  } 

  td {

    border: 1px solid grey;

    font-weight: bold;

  }  

  th {

    background-color: cornflowerblue;

    color: white;

    padding: 5px;

  }

  .tab-pane{

    padding: 0px;

    width: 100%;

  }

   .pgr{

    -webkit-appearance: none;

        -moz-appearance: none;

        appearance: none;

   }

  html {

      overflow: hidden;

  } 

  .tc{

    border-radius: 3px!important;

  } 

 

.bgf{

  backdrop-filter: blur(8px);

  -webkit-backdrop-filter: blur(8px);

}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {

  .bgf {

    background-color: rgba(0, 0, 0, .5);

  }

}td{overflow-y: hidden!important;}
